/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}



/******************************************
/* TABLE OF CONTENTS
/*******************************************/

/* Globals */






/* Pokedex */

    /*Left Side  */
        /* Display: Name, type(S), locations */
    /*Right Side  */
        /* Random four moves display */

    /* Professor Oak & Chat Bubble */



/* Footer */

/* Media Queries */





/* --------------------------------------------------------------------  Globals  --*/

html {
  font-family: sans-serif;
}

* {
  font-size: 62.5%;
  box-sizing: border-box;
}

.body {
  overflow: none;
}

.hide {
  visibility: hidden;
}

/******************************************
  /* LAYOUT
  /*******************************************/

header {
  height: 100px;

}
.flexIt {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .body {
  padding: 0 2rem;
} */


/* background-image: url(../css/assets/battleMap.png); */
/* h1 {
  font-size: 3rem;
} */

/* body {
  background-image: url(/css/assets/sceneOneBG.png);
  background-repeat: no-repeat;
  background-size: contain;
} */

/* --------------------------------------------------- */


/* background and main container */
.firstLog {
  height: 95vh;
  width: 80%;
  margin: 0 auto;
  position: relative;
  /* background: gray; */
  z-index: 0;
}
/* Professor Oak & Chat Bubble */


.centeredOak {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 30%;
  z-index: 3;
}

.profOak {
  position: absolute;
  bottom: 0%;
  right: 0%;
  /* transform: translate(-50%, -50%); */
  width: 15rem;
}
.chatBoxText {
  position: absolute;
  bottom: 26%;
  right: 50%;
  background: rgba(255, 255, 255, .75);
  font-size: 16px;
  width: 19rem;
  height: 9rem;
  text-align: center;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
  border-bottom-left-radius: 3rem;
  border: 3px solid black;
  padding: 0.5rem;
}

.chatBubbleElement {
  position: absolute;
  background: rgb(255, 255, 255);
  border: 2px solid black;
  border-radius: 50%;
} 

.chatBubbleElement:first-of-type {
  bottom: 27%;
  right: 49%;
  width: 12px;
  height: 12px;
} 

.chatBubbleElement:last-of-type {
  bottom: 27%;
  right: 49%;
  width: 12px;
  height: 12px;
}

.startBTN {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: -51px;
  right: 61px;
  background: red;
  border-radius: 50%;
  color: white;

}

/* --------------------------------------------------------------- Top Indicator -- */

.benchReview {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  height: 60px;
  line-height: 60px;
  background: rgba(255, 255, 255, 0.75); 
}

.pokeIcon img {
  width: 35%; 
} 


 /* left and right icons to cycle ------------------------------------------------- */

/* --------------------------------------------------------  Left - Right arrows -- */

.arrowBTNS {
  width: 40%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.leftArrow img,
.rightArrow img {
  width: 20%;
  background: rgba(255, 255, 255, .75);
  border-radius: 50%;
}

.leftArrow img:hover,
.rightArrow img:hover {
  background: red;
  transition: transform .5s ease-in-out;
  transform: scale(.8);
}

.pokeIconActive {
  background: red;
  border-radius: 50%;
}


/* ----------------------------------------------------------  CenterBall Section -- */
/* name */

.pokemonName {
  font-family: 'pokemon';
  position: absolute;
  top: 6%;
  text-align: center;
  font-size: 4rem;
  letter-spacing: 4px;
}
.pokemonName::first-letter {
  text-transform: uppercase;
}

#centerBall {
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  height: 250px;
  background: #000000;
  border-radius: 50%;
  padding: 1rem;
}

/* ---------------------------------------------------------  BattleMapBG Section -- */
.battleMapBG {
  background-image: url(/css/assets/battleMap.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%, 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  width: 80%;
  height: 90%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  opacity: .75;
}

/* -------------------------------------------------------------  Pokedex Section -- */

  .pokedexContainer {
    width: 50%;
    height: 100%; 
    position: relative;
    bottom: 0;
    left: 0;
    z-index: 2;

  }
  /* pokedex img */
  .pokeDex {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 500px;
  }
  .pokedexInfo {
    position: absolute;
    bottom: 35px;
    left: 18px;
    width: 461px;
    height: 245px;
  }

  /* right side - Moves */
  .moveSet {
    position: absolute;
    top: 46%;
    left: 18rem;
    transform: translate(0px, -50%);

  }
  .moveSetUl li {
    padding: 10px 0;
    font-family: 'pokemon';
    font-size: 1.4rem;
    color: rgb(21, 128, 0);
    text-shadow: 1px 1px 1px black;
    /* color: rgb(48, 251, 5); */
    letter-spacing: 1px;
  }
  .moveSetUl li::first-letter {
    text-transform: uppercase;
  }
/* left side - name, type, locations */
 
.theName {
  font-size: 1.6rem;
  margin: 4px 0 10px 4px;
}
.theName::first-letter {
  text-transform: uppercase;
}
.theName + h2 {
  font-size: 1rem;
  margin: 4px 0 10px 4px;
}
.theLocation {
  margin-left: 4px;
}
.theLocation li {
  margin: 10px 0 0 0; 
}
/* pulsating Next Button in Pokedex */
.nextBTN {
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5%;
  left: 39px;
  z-index: 2;
  color: rgba(255, 255, 255, .5);
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  background: red;
  border-radius: 50%;
  background-image: url(/css/assets/pokeball.png);
  background-size: contain;
}
.pulse {
  animation: pulse 2s ease-in-out .5s infinite alternate-reverse;
}
@keyframes pulse {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(0.7);
  }
}

@font-face {
  font-family: 'pokemon';
  src: url(/css/assets/Pokemon\ Solid.ttf);
}
/* ---------------------------------------------------------------  Help Display -- */

.helpToggle {
  width: 50%;
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
}
.toggleHelp {
  position: absolute;
  background: black;
  color: white;
  padding: 10px;
  border-radius: 30px;
  font-size: 1.2rem;
}
.helpBench {
  top: 10%;
  left: -2%;
  transform: translate(-50%, -50%);
}
.helpBench img {
  position: absolute;
  top: -24px;
  left: 80%;
  transform: rotate(83deg);
}
.helpCenter {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  background: none;
}
.helpCenterPokeball {
  position: absolute;
  top: 5%;
  left: 68%;
  transform: translate(-50%, -50%);
  width: 275px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.helpCenterPokeball img {
  position: absolute;
  top: 34px;
  left: 37%;
  transform: rotate(122deg);
}
.helpRightBall {
  position: absolute;
  top: 48%;
  left: 76%;
  transform: translate(-50%, -50%);
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.helpRightBall img {
  position: absolute;
  top: -22px;
  left: 54%;
  transform: rotate(45deg);
}
.helpLeftBall {
  position: absolute;
  top: 48%;
  left: 12%;
  transform: translate(-50%, -50%);
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.helpLeftBall img {
  position: absolute;
  top: -22px;
  left: 54%;
  transform: rotate(-45deg);
}
.helpRightScreen {
  position: absolute;
  top: 67%;
  left: 20%;
  transform: translate(-50%, -50%);
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.helpRightScreen img {
  position: absolute;
  top: 30px;
  left: 75%;
  transform: rotate(164deg);
}
.helpLeftScreen {
  position: absolute;
  top: 64%;
  left: -28%;
  transform: translate(-50%, -50%);
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.helpLeftScreen img {
  position: absolute;
  top: 30px;
  left: 54%;
  transform: rotate(93deg);
}

/* ---------------------------------------------------------------------  Footer -- */

/* FOOTER */
footer {
  background: black;
  color: white;
  height: 47px;
}

footer a {
  text-decoration: none;
  color: white;
}

footer a:first-child {
  margin-right: 10px;
}

.socialFooterIcons {
  width: 25px;
}
.mapMaker {
  position: absolute;
  bottom: 30%;
  right: 8px;
  text-align: right;
  margin-left: 10%;
  writing-mode: vertical-lr;
}
.mapMaker * {
  color: black;
  text-decoration: none;
}

.mapMaker a:hover {
  color: red;

}


/* Animations-------------------------------------------------------------------- */

/* .silentMode {
  background: black;
  visibility: hidden;
} */

.slideToRight {
  animation: slideToRight 2s ease-in-out .5s 1 forwards;
}

.slideToBot {
  animation: slideToBot 3s ease-in-out .5s 1 forwards;
}

@keyframes slideToRight {
  0% {
    top: 0%;
    left: 50%;
  }

  100% {
    top: 50%;
    left: 90%;
  }
}

@keyframes slideToBot {
  0% {
    top: 00%;
    left: 78%;
  }

  100% {
    bottom: 0%;
    left: 78%;
  }
}
/* --------------------------------------------------------------  Media Queries --*/

@media all and (min-width: 1500px) {
  .battleMapBG {
    width: 65%;
    background-position: 50%, 50%;
  }

}
@media all and (min-width: 1200px) {
  .helpBench {
    left: 15%;
  }
}
@media all and (max-width: 900px) {
  .helpRightScreen {
    left: 60%;
  }
}

@media all and (max-width: 562px) {
 .battleMapBG {
  transform: translate(-50%, -70%);
 }
}
