/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}



/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
  font-size: 62.5%
}

/******************************************
  /* LAYOUT
  /*******************************************/

header {
  height: 100px;
}

/******************************************
  /* ADDITIONAL STYLES
  /*******************************************/


h1 {
  font-size: 3rem;
}

/* body {
  background-image: url(/css/assets/sceneOneBG.png);
  background-repeat: no-repeat;
  background-size: contain;
} */
/* -------------------------------------------------------------------------Overlay */
.profOak {
  position: absolute;
  width: 350px;
  bottom: 45px;
  right: 0;
}

.chatBox {
  width: 30%;
  height: auto;
  color: white;
  background: black;
  position: absolute;
  right: 173px;
  bottom: 360px;
  padding: 50px;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  border-bottom-left-radius: 100%;
  z-index: 2;
}

.pokeDex {
  position: absolute;
  width: 500px;
  bottom: 54px;
  left: 0;
}
.pokeInfo {
  position: absolute;
  bottom: 120px;
  left: 18px;
  width: 207px;
  height: 212px;
  padding: 5px;
}
.theName {
  margin: 0 0 10px 0;
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
}
.theName::first-letter {
  text-transform: uppercase;
}

.pokeInfo h2+h2 {
  margin-bottom: 10px;
}

.moveSet {
  position: absolute;
  width: 500px;
  bottom: 130px;
  left: 300px;
  font-size: 24px;
  font-family: 'pokemon';
}
.moves {
  margin: 20px 0;
}
.whiteBackDropElement {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 116px;
  background: rgba(0, 0, 0, 0.8);
}
/* -----------------------------------------------------------------------------Bench */

.mainBG {
  background-image: url(/css/assets/battleMap.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
}
.topSection {
  height: 78vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottomSection {
  height: 22vh;
}
.bench {
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 0;
  width: 100%;
  height: 50px;
  display: flex;
}
.benchReview {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.pokeIconActive {
  transition: .2s ease;
  background-color: rgba(255, 0, 0, 0.6);
  border-radius: 50%;
}
.pokeIcon img {
  width: 25px;
  height: 25px;
}
/* -------------------------------------------------------------------------Pokeballs */
.pokeballDisplay {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);


}


.pokeballs {
  height: 100px;
  width: 78px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgPokeball {
  width: 100px;
}


/* CENTER */
.centerBall {
  margin: 2rem 0;
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  opacity: 1;
  background: white;
  z-index: 1;
}

#centerBall {
  width: 300px;
}
/*------------------------------------------------------------- Arrows: next and prev */

.arrowBTNS {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: -4.75rem 0 0rem 0;
  gap: 17rem;
}
.imgIcon {
  width: 40px;
  display: inline-block;
}
.rightArrow:hover, .leftArrow:hover {
  transition: .2s ease-in-out;
  transform: scale(.8);
}
.leftArrow,
.rightArrow {
  background-color: rgb(228, 228, 228);
  opacity: 80%;
  border-radius: 50%;
  max-width: 100px;
  display: flex;
}
.leftArrow:hover,
.rightArrow:hover {
  background: radial-gradient(rgba(255, 0, 0, 0.5), rgba(255, 255, 255, 0.5));
}
.leftArrow:active,
.rightArrow:active {
  transform: scale(.75);
  transition: transform .2s ease;
}

.leftArrow {
  margin-right: 50px;
}

.rightArrow {
  margin-left: 50px;
}

.hide {
  visibility: hidden;
}

/*-----------------------------------------------------------------------Pokemon Info */

/*-------- Name: */

.pokemonName {
  position: absolute;
  top: -42%;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto 0 auto;
  text-align: center;
  display: inline-block;
  font-size: 70px;
  letter-spacing: 4px;
  font-family: 'pokemon';
  color: white;
  text-shadow: 2px 2px 12px black;
}

.pokeMoveset {
  font-size: 1.2rem;
}
.bottomSection {
  width: 100%;
  height: 22vh;
  border: 1px solid black;
  margin: 0rem 0 0 0;
  text-align: center;
  /* background: red; */
}

@font-face {
  font-family: pokemon;
  src: url(/css/assets/Pokemon\ Solid.ttf)
}

/* ball shake animation */

/* .ballShake { */
/* animation-name: shake;
  animation-iteration-count: infinite; */
/* transition: transform .2s ease-in-out; */
/* transform: rotate(3deg); */
/* transition: 2s ease-in-out; */
/* transform: rotate(90deg) */
/* }
#shake {
  -webkit-animation: rotation 2s 5 linear;
}
@keyframes rotation {
  from {
      -webkit-transform: rotate(-5deg);
      transform: translateX(-10px)
  }
  to {
      -webkit-transform: rotate(5deg);
      transform: translateX(10px)
  }
} */

.helpOverlay {
  /* hide it with click */
}

.benchHelp {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
  background: black;
  color: white;
  padding: 20px;
  border-radius: 10px;

}

.benchHelp * {
  font-size: 16px;
}

.benchHelp>img {
  margin: -40px 0 0 0px;
  position: absolute;
  transform: rotate(-31deg);
}

.centerBallHelp {
  width: 30%;
  position: absolute;
  top: 128%;
  left: 50%;
  transform: translateX(-50%);
  background: black;
  color: white;
  padding: 11px 40px;
  border-radius: 10px;

}

.centerBallHelp * {
  font-size: 16px;
}

.centerBallHelp img {
  margin: -32px 0 0 0px;
  position: absolute;
  transform: rotate(-31deg);
}


.leftArrowHelp,
.rightArrowHelp {
  position: absolute;
  background: black;
  color: white;
  padding: 11px 40px;
  border-radius: 10px;
  top: 140px;
  width: 50px;
  z-index: 2;
}

.leftArrowHelp h1,
.rightArrowHelp h1 {

  font-size: 16px;
}

.leftArrowHelp {
  left: 0%;
   z-index: 2;
}

.rightArrowHelp {
  right: 0%;
}

.leftArrowHelp img {
  position: absolute;
  margin: 42px 94px 0 0px;
  transform: rotate(-128deg);
}

.rightArrowHelp img {
  position: absolute;
  margin: 42px 0 0 94px;
  transform: rotate(128deg);
}


.flexIt {
  display: flex;
  justify-content: center;
  align-items: center;
}

.thanksMapMaker {
  position: absolute;
  bottom: 80px;
  right: 550px;
  width: 30%;
}

.sideNotes {
  position: absolute;
  margin: 0 auto;
  bottom: 150px;
  right: 550px;
  width: 30%;
}

footer {
  width:100%;
  height: 60px;
  background: black;
  position: absolute;
  bottom: 0;
  color: white;
}
footer a {
  text-decoration: none;
  color: white;
  margin-right: 0px;
  font-size: 18px;
}

.shell {
  position: relative;
  width: 100%;
  height: 100%;
}
.socialFooterIcons {
  width: 30px;
  margin: 0 8px;
}












/* //max width 690px */


@media all and (max-width: 600px) {
  body {
    padding: 300px;
  }
}